* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 500px) {
    body {
        background-color:lightblue;
    }
}

@media print {
    body {font-size: 11pt; }
    div.navigation { display: none; }
    hr { page-break-after: always; }
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: "Lucida Sans", sans-serif;
    /* have the scroll bar all the time */
    overflow-y: scroll;
}

body {
    background-image: url("/images/mywebbenchicon.png"),
                      url("/images/apache_pb.png"),
                      url("/images/centosBlue.png"),
                      url("/images/worldCountriesByFlags.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left top, center 2px, right top, center 300px;
    background-size: 100px, 160px, 70px, 60%;
    background-color: #3397b0;
}

.plainFlags {
    width: 45px;
    height: 35px;
}

.leftCountries {
    width: 79px;
    height: 47px;
    color: blue;
    margin-left: 3px;
    border: 2px groove red;
}

.selectedFlags {
    width: 79px;
    height: 47px;
    border: 1px dotted lightgray;
}

h1, h2, h3 {
    color: indigo;
    text-align: center;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
    background-color: white;
    font-size: 18px;
}

#informationPanel {
    font-weight: bold;
    color: blue;
    background-color: gray;
}

.yellowColor {
    color: yellow;
}

.scorePanel {
    font-weight: bold;
    color: red;
    background-color: yellow;
    font-size: 26px;
    width: 250px;
    text-align: center;
}

.chooseOneLeft {
    font-weight: bold;
    color: red;
    background-color: yellow;
    font-size: 20px;
    width: 500px;
    text-align: center;
}

.congratulationPanel {
    font-weight: bold;
    color: blue;
    background-color: red;
    font-size: 20px;
}

.center
{
    text-align: center;
}

#worldFlags {
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
}

#flagFieldSet {
    color: black;
	  font-weight: bold;
    font-size:1.1rem;
    border-style: none;
}

.floatingInput {
    float: left;
    margin: 5px;
}

legend {
    color: red;
}

#flagTitle {
    font-weight: bold;
    font-size:1.5rem;
    color: black;
}

#capital {
    width: 40px;
}

/* default for a button background and text color */
input[type=submit], button, .resetAnchor {
    font-weight: bold;
    font-size: 18px;
    border: 5px;
    margin-top: 5px;
    background-color: lightgray;
    box-shadow: 0px 8px 16px 0px gray;
}

input[type=submit]:hover, button:hover, .resetAnchor:hover {
    background-color: slateblue;
    color: red;
}

/* Form related MDN recommended styles */
form {
    /* Just to center the form on the page */
    margin: 2px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;
}

.inputTopMargin {
    margin-top: 3px;
    clear: left;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    box-sizing: border-box;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: salmon;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
  font-size: 18px;
}
